table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding-right: 90px;
  }
.tab{
    margin-top: 10px;
    float: left;
}
.tab-2{
    margin-left: 50px;
}
.tab-2 input{
    display: block;
}
.container{
    overflow: hidden;
}
tr{
    transition: 0.4s;
}
tr:hover{
    background-color: rgb(170, 163, 163);
}
